/* 
I need to go back and reorder my styles to fit best practices
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.hero {
  height: 550px;
  min-width: 1000px;
  background-image: url("images/hero.jpg");
  background-position: 50% 100%;
}

/* =================
Navbar
=================== */

.main-nav {
  position: relative;
  text-align: center;
  height: 35px;
  top: 80px;
 
}


.main-nav-container {
  display: inline-block;
  white-space: nowrap;
  width: auto;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.678);
  overflow: hidden;
}

.main-nav li {
  display: inline-block;
  border-right: 1px solid #5a5858;
  height: 100%;
  background: linear-gradient(#818080, #818080 50%, #706f6f 50%, #8d8c8c);
  vertical-align: middle;
}

.main-nav li:last-child {
  border: none;
 
}


.main-nav a:hover {
  background-color: #5250504d;
}

.nav-item {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  width: 100px;
}


#apple-logo img {
  height: 100%;
  }

/* Search Bar */


.main-nav form {
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px 1px #414040;
  height: 20px;
  vertical-align: middle;
  margin: 7px 10px 0 10px; 
}
  

.main-nav form:focus {
  background-color: white;
}

.magnifying-glass {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  
}

.magnifying-glass img {
  height: 15px;
  margin-left: 5px;
}

.search-bar {
  border: none;
  height: 15px;
  width: 100px;
  vertical-align: middle;
  text-align: left;
  background-color: transparent;
  caret-color: #000;
  color: #fff;
  padding-top: 0;
  padding-bottom: 2px;
  vertical-align: middle;
}

.search-bar:focus {
  outline: none;
}





/* ==============
Main Text
================ */


.hero-text {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 50;
}

.hero-text h3 {
  font-size: 30px;
  width: 800px;
  margin: 25px auto 0 auto;
}

.hero-text a {
  text-decoration: none;
  position: relative;
  top: 30px;
  font-size: 25px;
}

.hero-text a:visited {
  color: #fff;
}

.hero-text a:hover {
  text-decoration: underline;
}


/* ================
Products Grid
================== */

.main-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  min-width: 1000px;
  height: 200px;
}


.iphone-5s {
  background-image: url("images/iphone5s.jpg");
  background-position: 50% 50%;
}

.iphone-5c {
  background-image: url("images/iphone5c.jpg");
  background-position: 50% 50%;
}

.happy-birthday {
  background-image: url("images/happy-birthday.jpg");
  background-position: 50% 50%;
}

.supplier {
  background-image: url("images/supplier.jpg");
  background-position: 50% 50%;
}

/* ================
Small bottom nav
 =============== */

 .footer-nav {
   color: #aca9a9;
   font-size: 11px;
   font-weight: 200px;
   margin: 30px auto;
   padding-left: 20px;
   padding-right: 20px;
   width: 1000px;
 }

 .footer-nav ul {
   display: inline;
 }

 .footer-nav li {
   list-style: none;
   display: inline;
 }

 .footer-nav a {
   text-decoration: none;
 }

 .footer-nav a:visited {
   color: #08c;
 }

 .footer-nav a:hover {
   text-decoration: underline;
 }

 .footer-nav-main-links {
   margin-left: 20px;
 }

 .footer-nav img {
   display: inline-block;
   position: relative;
   top: 4px;
 }


